html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {

  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.table thead th {
    background-color: #0a1f44; /* dark navy blue */
    color: #ffffff;
    border-color: #081a36;
}

/* EDIT BUTTON */
.btn-edit {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
}

    .btn-edit:hover {
        background-color: #0b5ed7;
        border-color: #0b5ed7;
        color: #fff;
    }

/* DETAILS BUTTON */
.btn-details {
    background-color: #20c997;
    border-color: #20c997;
    color: #fff;
}

    .btn-details:hover {
        background-color: #198754;
        border-color: #198754;
        color: #fff;
    }

/* DELETE BUTTON */
.btn-delete {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

    .btn-delete:hover {
        background-color: #bb2d3b;
        border-color: #bb2d3b;
        color: #fff;
    }
