@model EmployeeModel

@{
    ViewData["Title"] = "Create Employee";
}

<h2>Create Employee</h2>
<hr />
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EmployeeId" class="form-label"></label>
        <input asp-for="EmployeeId" class="form-control" />
        <span asp-validation-for="EmployeeId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Designation" class="form-label"></label>
        <input asp-for="Designation" class="form-control" />
        <span asp-validation-for="Designation" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DOB" class="form-label"></label>
        <input asp-for="DOB" type="date" class="form-control" />
        <span asp-validation-for="DOB" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
